extends base.pug

block head
    title Раунд

block center-panel
    h2= 'Раунд: ' + round.name
    if round.courseName
        h3= 'Трасса: ' + round.courseName
    h3
        a(href= 'https://discgolfmetrix.com/' + round.id target = '_blank' rel='noopener noreferrer') Metrix
    table
        tr
            th(class="col-center") Игрок
            th(class="col-center") Результат
            th(class="col-center") Текущий<br>рейтинг
            th(class="col-center") Рейтинг<br>за раунд
        each val in round.results
            tr
                td(class="col-left")
                    a(href= '/player/' + val.id)= val.metrixName
                td(class="col-center")= (val.result > 0 ? "+" : "") + val.result
                td(class="col-center")= val.playerRating
                td(class="col-center")= val.roundRating
